# 행/열 이름 바꾸기
* 행 인덱스 변경: DataFrame 객체.index = 새로운 행 인덱스 배열
* 열 이름 변경: DataFrame 객체.columns = 새로운 열 이름 배열

In [5]:
import pandas as pd

df = pd.DataFrame([[20, '남', 'A'], [21, '여', 'B'], [22, '남', 'C']], index=['a', 'b', 'c'], columns=['나이', '성별', '학교'])

print(type(df))
print(df)
print(df.index)
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
   나이 성별 학교
a  20  남  A
b  21  여  B
c  22  남  C
Index(['a', 'b', 'c'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

In [6]:
df.index = ['A', 'B', 'C']
df

   나이 성별 학교
A  20  남  A
B  21  여  B
C  22  남  C

In [7]:
df.columns = ['연령', '남녀', '소속']
df

   연령 남녀 소속
A  20  남  A
B  21  여  B
C  22  남  C

# 행/열 바꾸기
* 행/열 바꾸기: DataFrame 객체.transpose() 또는 DataFrame 객체.T

In [15]:
import pandas as pd

df = pd.DataFrame([[20, '남', 'A'], [21, '여', 'B'], [22, '남', 'C']], index=['a', 'b', 'c'], columns=['나이', '성별', '학교'])

print(df)
print(df.T)

   나이 성별 학교
a  20  남  A
b  21  여  B
c  22  남  C
     a   b   c
나이  20  21  22
성별   남   여   남
학교   A   B   C

# 행/열 삭제하기
* 행 삭제: DataFrame 객체.Drop(행 인덱스 또는 배열, axis = 0)
* 열 삭제: DataFrame 객체.Drop(열 이름 또는 배열, axis = 1)

In [9]:
import pandas as pd

df = pd.DataFrame([[20, '남', 'A'], [21, '여', 'B'], [22, '남', 'C']], index=['a', 'b', 'c'], columns=['나이', '성별', '학교'])

df

   나이 성별 학교
a  20  남  A
b  21  여  B
c  22  남  C

In [10]:
df2 = df.drop('b') # axis가 0일 때 생략 가능
df2

   나이 성별 학교
a  20  남  A
c  22  남  C

In [11]:
df3 = df.drop('학교', axis=1)
df3

   나이 성별
a  20  남
b  21  여
c  22  남

# 행/열 선택하기

In [13]:
import pandas as pd

df = pd.DataFrame([[20, '남', 'A'], [21, '여', 'B'], [22, '남', 'C']], index=['a', 'b', 'c'], columns=['나이', '성별', '학교'])

label1 = df.loc['a']
position = df.iloc[0]

print(type(label1))
print(label1)
print(type(position))
print(position)

<class 'pandas.core.series.Series'>
나이    20
성별     남
학교     A
Name: a, dtype: object
<class 'pandas.core.series.Series'>
나이    20
성별     남
학교     A
Name: a, dtype: object

In [16]:
import pandas as pd

df = pd.DataFrame([[20, '남', 'A'], [21, '여', 'B'], [22, '남', 'C']], index=['a', 'b', 'c'], columns=['나이', '성별', '학교'])

label1 = df['나이']
position = df.나이

print(type(label1))
print(label1)
print(type(position))
print(position)

<class 'pandas.core.series.Series'>
a    20
b    21
c    22
Name: 나이, dtype: int64
<class 'pandas.core.series.Series'>
a    20
b    21
c    22
Name: 나이, dtype: int64

# 행/열 추가하기
* 행 추가: DataFrame 객체.Loc['새로운 행 이름'] = 데이터 값 (또는 배열)
* 열 추가: DataFrame 객체.['추가하려는 열 이름'] = 데이터 값

In [18]:
import pandas as pd

df = pd.DataFrame([[20, '남', 'A'], [21, '여', 'B'], [22, '남', 'C']], index=['a', 'b', 'c'], columns=['나이', '성별', '학교'])

df.loc['d'] = [22, '여', 'D']

print(df)

   나이 성별 학교
a  20  남  A
b  21  여  B
c  22  남  C
d  22  여  D