## dict

In [2]:
import pandas as pd

dict_data = {'1st':[1, 2, 3], '2nd':[4, 5, 6], '3rd':[7, 8, 9]}
df = pd.DataFrame(dict_data)

print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   1st  2nd  3rd
0    1    4    7
1    2    5    8
2    3    6    9

## 리스트

In [8]:
import pandas as pd

df = pd.DataFrame([[20, '남', 'A'], [21, '여', 'B'], [22, '남', 'C']], index=['a', 'b', 'c'], columns=['나이', '성별', '학교'])
print(df)
print(df.index)
print(df.columns)

   나이 성별 학교
a  20  남  A
b  21  여  B
c  22  남  C
Index(['a', 'b', 'c'], dtype='object')
Index(['나이', '성별', '학교'], dtype='object')

## 엑셀

In [10]:
import pandas as pd

df1 = pd.read_excel('test.xlsx')
df2 = pd.read_excel('test.xlsx', header = None)

print(df1)
print(df2)

  Unnamed: 0  나이  성별 학교
0          a   20  남  A
1          b   21  여  B
2          c   22  남  C
     0    1   2   3
0  NaN  나이   성별  학교
1    a   20   남   A
2    b   21   여   B
3    c   22   남   C

## csv

In [11]:
import pandas as pd

df1 = pd.read_csv('test.csv')
print(df1)

  Unnamed: 0  나이  성별 학교
0          a   20  남  A
1          b   21  여  B
2          c   22  남  C